#board {
    width: 440px;
    height: 400px;
    margin: 15px auto;
}

#board > div {
    width: 55px;
    height: 55px;
    float: left;
    text-align: center;
}

#board div.white {
    background-color: #fff;
}

#board div.black {
    background-color: #cfcfcf;
}

#board > div > img {
    width: 95%;
}

#board div.case-hover {
    background-position: center center;
    background-image: url(../images/hover.png);
    background-repeat: no-repeat;
}

#board div.last-movement {
    background-position: center center;
    background-image: url(../images/last_movement.png);
    background-repeat: no-repeat;
}